body {
    font-family: "Meow Script", cursive;
    margin: 0;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    font-size: 100px;
    transition: 0.4s ease-in-out;
}
.rainbow {
    margin: 10%;
}

